/* Assign styles here */
.col {
	text-align: center;
}

h1 {
	font-weight: 300;
}

* {
    box-sizing: border-box;
}

i {
	margin-bottom: 10px;
}

.Gears {
	color: #82b1ff;
}

.Bell {
	color: #8c9eff;
}

.Anchor {
	color: #b388ff;
}

.Asterisk {
	color: #80d8ff;
}